
body{margin: 0 auto;}
h2{position:relative;top:10px;}
.alocadas{}
.disponiveis{}
.alocadas, .disponiveis{width:190px;height:60px;margin-bottom:10px;margin-top:10px; block;border-radius:20px;
position:relative; left:-28px;margin-right:15px; border:2px inset #25f;background-image:url('/assets/images/bg-body.gif');background-size:100% 100%;z-index:1;}
.alocadas a, .disponiveis a{text-decoration: none; color: #003;}
.alocadas:hover{cursor:pointer;}
.disponiveis:hover{cursor:pointer;}
.disponiveis{display:inline-block;}
li{background-color: #ddd;width:240px;height:40px;margin:10px;border-radius:20px;text-align:center;}
li a{font-size: 20px;text-decoration: none}
h2{margin:0px auto;}
#periodos{width: 55%;height:510px;overflow-y:auto;float:right;position:relative;top:50px;margin-right:50px;
margin-top: 25px;}
#addPeriodo{background-color:#000;margin-left:80px;margin-top: -10px;}
#addPeriodo a{color:#fff;text-decoration:none;}
.periodo{width: 230px;height:540px;float: left;border-top-left-radius:40px;
border-top-right-radius:40px;border-bottom-right-radius:40px;text-align: center;margin-bottom: 10px;
overflow-y:auto;overflow-x:hidden; margin-left: 5px;border:4px solid #fff;border-color:transparent;}
.periodo h3{position:relative;left:-20px;}
.periodoCreditos{color:#ff0;text-shadow: 1px 1px 1px #000;}
.periodoDificuldade{color:#f99;text-shadow: 1px 1px 1px #000;margin-left:10px;}
.creditos{font-size: 12px; color:#f00;position:absolute;left:10px;bottom:-2px;text-shadow:1px 1px 1px #000;z-index:-2;}
.dificuldade{float:right;font-size: 12px; color:#92d;position:absolute;left:100px;bottom:-2px;text-shadow:1px 1px 1px #000;z-index:-2;}
.periodoActive{border:4px solid rgba(0, 255, 0, .3);}
.periodoDrag{opacity:0.5; }
.separator{width:1200px;border:1px solid;opacity:0.4;}
.close{position:relative;float:right;right:10px;top:10px;z-index:1;}
.close:hover{cursor: pointer;}
.remover{width:30px;height:30px;border-radius:30px;position:relative;
background-color:#f22;opacity:0.8;visibility:visible;z-index:10;}
.hidden{visibility:hidden;}
.nome{position:absolute;left:0px;width:190px; font-size:13px;text-align:center;z-index:-2;}