@(plano: PlanoDeCurso)

@import helper._

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type='text/javascript' src="@routes.Assets.at("javascripts/funcoes.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<body style='background-image:url(@routes.Assets.at("images/bg-1.jpg"));'>
@main("Plano de Curso") {
	<center><h2>@Messages("planoDeCurso")</h2></center>
	
	<div >
	@for(periodo <- plano.getPeriodos()) {
		<div id="@periodo.getNumero()" class="periodo" ondrop="drop(event, this)"
			ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">
		
		<ul style="list-style:none;">
			<span style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;">@periodo.getNumero() @Messages("nPeriodo") </span>
			@for(cadeira <- periodo.getCadeiras()) {
				@if(plano.isAlocadaNoLugarCorreto(cadeira, periodo)) {
		  		<div class="alocadas" id="@cadeira.getNome()" draggable="true" 
				ondragstart="drag(event)" ondragend="dragEnd()" onclick="remCadeira('@cadeira.getNome()','true')">
				} else {
				<div class="alocadas-errada" id="@cadeira.getNome()" draggable="true" 
				ondragstart="drag(event)" ondragend="dragEnd()" onclick="remCadeira('@cadeira.getNome()','true')">
				}
		  		<center><label class="nome"> <span>@cadeira.getNome()</span></label></center>
		  		<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		  		<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>
		  		<span style="margin-top: 20px;" ></span>	
		  	</div>
		  	
		} 
		</ul>
		<span class="periodoCreditos">@periodo.getCreditos() @Messages("creditos")</span>
		<span class="periodoDificuldade">Dificuldade: @periodo.getDificuldadeTotal()</span>
		</div>
	}
	</div>
}
</body>
