@(plano: PlanoDeCurso, user: User)

@import helper._

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type='text/javascript' src="@routes.Assets.at("javascripts/funcoes.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<body>
@main("Plano de Curso", user) {
	<div>
	<center><h3>@Messages("planoDeCurso")</h3></center>
	<br/>
	</div>

<div class="periodo">
		<form action="@routes.Application.atualizaPeriodo" method="post">
			<ul style="list-style:none;">
            	<span style="float:left;margin-left:0px;font-size:20px;">Periodo Atual:</span>
            	<input type="number" style="margin-bot:10px;height:25px;width:35px" min="1" max="10" name="periodo" title="Periodo entre 1 e 10" required value="@plano.periodoAtual" ><br/>
                <input type="submit" style="position:center;margin-top=10px;float:center;" title="Periodo entre 1 e 10"  value="Alterar">
			</ul>
		</form>
			<div><br/>
           <span style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:0px;"> Informacoes uteis</span><br></br>
                        			<strong><span class="periodoCreditos">Periodo Atual: @plano.getPeriodoAtual()</span></strong><br>
			<span class="periodoCreditos">@Messages("disciplinasNaoAlocadas") @plano.totalCreditosCadeirasNaoAlocadas()</span><br>
			<span class="periodoCreditos">@Messages("creditosUltrapassados") @plano.getCreditosPeriodosPassados()</span><br>
			<span class="periodoCreditos">@Messages("periodoAtual") @plano.getCreditosPeriodoAtual()</span><br>
			<span class="periodoCreditos">@Messages("creditosPlanejados") @plano.getCreditosPeriodosFuturos()</span><br>
			<span class="periodoCreditos">@Messages("minimosPraSeFormar") @plano.getCreditosQueFaltamParaSeFormar()</span><br>

			<strong><nome>@Messages("periodosErrados")</nome></strong><br>
			@for(periodo <- plano.periodosComMenosQueMinimoDeCreditos()){
				<strong><span class="periodoCreditos"> @periodo.toString()</span></strong><br>
			}
			</div>
		</div>



	<div class="periodo">
	<span style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:0px;"> Cadeiras disponiveis</span>
	<ul style="list-style:none;"> 
		@for(cadeira <- plano.getCadeiraDispniveisOrdenadas()) {
		<div class="disponiveis" id="@cadeira.getNome()" title="@cadeira.toString()" draggable="true" 
		ondragstart="drag(event)" ondragend="dragEnd()">
	  		<center> <label class="nome"><span>@cadeira.getNome()</span></label></center>
		  	<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		  	<label class="dificuldade"> dificuldade: @cadeira.getDificuldade()</label>
	  	</div>
	} 

	</ul>
	<span class="periodoCreditos">Arraste para alocar</span>
	</div>

	<div>
	@for(periodo <- plano.getPeriodos()) {
		@if(periodo.getNumero() < plano.getPeriodoAtual()){
		<div id="@periodo.getNumero()" class="periodoPassado" ondrop="drop(event, this)"
			ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">			
		}
		@if(periodo.getNumero() == plano.getPeriodoAtual()){
		<div id="@periodo.getNumero()" class="periodoAtual" ondrop="drop(event, this)"
			ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">			
		}
		@if(periodo.getNumero() > plano.getPeriodoAtual()){
		<div id="@periodo.getNumero()" class="periodoFuturo" ondrop="drop(event, this)"
			ondragover="allowDrop(event,this)" ondragleave="leave(event, this)">			
		}

		<ul style="list-style:none;">
			<span style="width:190px;height:30px;font-size:20px;margin-bottom:10px;margin-left:-40px;">@periodo.getNumero() @Messages("nPeriodo") </span>
			@for(cadeira <- periodo.getCadeiras()) {
				@if(plano.isAlocadaNoLugarCorreto(cadeira, periodo)) {
		  		<div class="alocadas" id="@cadeira.getNome()" draggable="true" title="@cadeira.toString()"
				ondragstart="drag(event)" ondragend="dragEnd()" onclick="remCadeira('@cadeira.getNome()','true')">
				} else {
				<div class="alocadas-errada" title="@cadeira.toString()" id="@cadeira.getNome()" draggable="true" 
				ondragstart="drag(event)" ondragend="dragEnd()" onclick="remCadeira('@cadeira.getNome()','true')">
				
				}
		  		<center> <label class="nome"><span>@cadeira.getNome()</span></label></center>
		  		<label class="creditos">@cadeira.getCreditos() @Messages("creditos")</label>
		  		<label class="dificuldade"> Dificuldade: @cadeira.getDificuldade()</label>
		  		<span class="remove" style="margin-top: 15px;margin-left:140px;" title="remover"></span>
		  	</div>

		} 
		
		</ul>
		<span class="periodoCreditos">@periodo.getCreditos() @Messages("creditos")</span>
		<span class="periodoDificuldade">Dificuldade: @periodo.getDificuldadeTotal()</span>
		</div>
	}
	</div>
}
</body>